html {
  overflow-x: hidden;
}

body {
  @include primary-theme;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

li {
  list-style-type: none;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}